bin/
obj/
Build/
Intermediate/
/packages/
riderModule.iml
/_ReSharper.Caches/
/publish.bat
/UltralightSharp.Binaries/runtimes/win-x64/native/
/UltralightSharp.Binaries/runtimes/osx-x64/native/
/UltralightSharp.Binaries/runtimes/linux-x64/native/
